.sreachbar{
  background: #84c639;
  color: #FFF;
  padding-left: 5px;
  padding-right: 5px;
  display:inline;
  height: 42px;
}
.sreach{
    width:50%;   
    margin-top: 1px;
}.cart{
    color: #fff;
    font-size: 14px;
    outline: none;
    text-transform: capitalize;
    padding: .5em 2.5em .5em 1em;
    border: 1px solid #84c639;
    margin: .35em 0 0;
    background: url(../images/cart.png) no-repeat 116px 9px;
}